pyparsing>=1.5
twisted>=12
markdown>=2.2
psutil>=0.6
inflect>=0.2
fuzzywuzzy>=0.1
pytz
flufl.enum>=4
python-dateutil>=2.1
yoyo-migrations>=4.2.2
pint>=0.5.2
mailer
simple-pbkdf2
corepost
